# This is my first python notebook

## We will be going through basics of Computation techniques

- Data Types
- Basic Data Structures

### 1. Data Types

In [5]:
1 , 20.28, "text", 'Hello World'

(1, 20.28, 'text', 'Hello World')

In [6]:
print("This is my first python script")

This is my first python script

In [7]:
integer = 1
decimal =20.28
text = "Hello World"

In [8]:
print(text)

Hello World

##### I will perform maths operations
#### This is my second command
'''
This is multi line
example of writing comments

'''

In [11]:
a = 2
b = 4
d = a + b
print(d)

6

### Data Structures

- List

In [12]:
li = [100, 200, 300, 400, 500]
print(li)

[100, 200, 300, 400, 500]

In [15]:
print(li[1])

200

In [22]:
new_li = li[::-1]
print(new_li)

[500, 400, 300, 200, 100]

In [24]:
sliced_li = li[:3]
print(sliced_li)

[100, 200, 300]

In [31]:
new_li = li.append([600,700])
new_li = li
print(new_li)

[100, 200, 300, 400, 500, 600, [600, 700], [600, 700], [600, 700], [600, 700], [600, 700]]

In [33]:
li.pop(1)
print(li)

[100, 300, 400, 500, 600, [600, 700], [600, 700], [600, 700], [600, 700], [600, 700]]

In [34]:
print(len(li))

10

In [36]:
li[0] = 50
print(li)

[50, 300, 400, 500, 600, [600, 700], [600, 700], [600, 700], [600, 700], [600, 700]]

### Tuple

In [35]:
tup = ("Hello", "Wolrd", 20)
print(tup)

('Hello', 'Wolrd', 20)

In [ ]:
tup.pop(1)

### Dictionary

dict = {key:value}

In [41]:
dictionary = {"Roger": 100, "Sally": 200, "Company_Locations": ["Mumbai", "NYC", "London"]}
print(dictionary)

{'Roger': 100, 'Sally': 200, 'Company_Locations': ['Mumbai', 'NYC', 'London']}

In [43]:
dictionary.values()

dict_values([100, 200, ['Mumbai', 'NYC', 'London']])

In [44]:
dictionary["Sally"]

200

In [45]:
dictionary.get("Sally")

200

## Set

In [46]:
list_set = ["Joe", 200, "Joe", 200, 30.4]

In [48]:
list_set = set(list_set)
list_set_transformed = list(list_set)
print(list_set)
print(list_set_transformed)

{200, 'Joe', 30.4}
[200, 'Joe', 30.4]

In [49]:
dic = {"Names":[]}
print(dic)

{'Names': []}

dic = {"Names":[10,20]}

In [50]:
{"Names":[10,20]}

{'Names': [10, 20]}

In [51]:
l2 = [10,20,30,40] 
dic = {"Name":[l2[:2]]} 
print(dic)

{'Name': [[10, 20]]}

In [52]:
l2 = [10,20,30,40] 
dic = {"Name":l2[:2]} 
print(dic)

{'Name': [10, 20]}

In [60]:
dic["Name"] = [10,20]
print(dic)

{'Names': [10, 20, 30], 'Name': [10, 20]}

In [54]:
dic = {"Names":[]}
print(dic)

{'Names': []}

In [55]:
li = [10,20]
dic["Names"] = li
print(dic)

{'Names': [10, 20]}

In [56]:
dic["Names"].append(30)
print(dic)

{'Names': [10, 20, 30]}

In [57]:
li = [0,10,20,30]

In [58]:
len(li), li[0:2]

(4, [0, 10])

## Loops

In [62]:
for element in li:
    print(element * 10)

0
100
200
300

In [73]:
li

[0, 10, 20, 30]

In [66]:
new_list = []

for element in li:
    
    temp = element * 10
    new_list.append(temp)

print(new_list)

[0, 100, 200, 300]

In [72]:
new_list = []
for element in li:
    if element > 15:
        temp = element * 10
        new_list.append(temp)
    elif element >5 :
            temp = element * 5
            new_list.append(temp)
    else:
        new_list.append(element)
#         pass

print(new_list)

[0, 50, 200, 300]

In [85]:
def check_logic(user_list, multiplier_logic1, multiplier_logic2, drop_value = True):
    new_list = []
    for element in user_list:
        if element > 15:
            temp = element * multiplier_logic1
            new_list.append(temp)
        elif element >5 :
                temp = element * multiplier_logic2
                new_list.append(temp)
        else:
            if drop_value == True:
                pass
            else:
                new_list.append(element)
            
    return new_list

In [79]:
li = [10,4,2000, 5000, -20]

In [80]:
li2 = check_logic(user_list= li, multiplier_logic1= 100, multiplier_logic2= 10.5)

In [81]:
print(li2)

[105.0, 4, 200000, 500000, -20]

In [82]:
li = range(10000)

In [88]:
len(li)

10000

In [91]:
li2 = check_logic(user_list= li, multiplier_logic1= 10.5, multiplier_logic2= 7.825, drop_value= True)

In [92]:
print(len(li2))

9994

## Problem

if a value < 150:
       execute algebric equation - (a+b)^3 where a - value/element of the list, b - userdefinedvalues
else:
        execute algebric equation - (a-b)^2 where a - value/element of the list, b - userdefinedvalues
Store each execution in a list
return that list

hint - user defined - user_list , b

In [94]:
li = range(110, 200) # lazy operator - it does not conusume memory for all the elements at once.

In [100]:
def execute_algebric_eq(user_list,b):
    new_list = []
    for element in user_list:
        if element <150:
            temp = (element + b)**3
            new_list.append(temp)
        else:
            temp = (element - b)**2
            new_list.append(temp)
    
    return new_list

In [101]:
li2 = execute_algebric_eq(user_list = li, b = 18.5)

In [102]:
li2[0:10]

[2121824.125,
 2171747.375,
 2222447.625,
 2273930.875,
 2326203.125,
 2379270.375,
 2433138.625,
 2487813.875,
 2543302.125,
 2599609.375]

## Assignment: 1

list_names = ["Joe", "Sally", "Sumit", "Bala"]
emp_codes = [10,20,30,40]
salary_2020 = [100, 300, 400, 500]

1. Write a user. defined function -
    dictionary = {"Name":"Joe", "emp_code": 10, "Current_salary":100, "Hiked_Salary": 110}

return list of dictionary -> [dict1, dict2, dict3, dict4]

user defined arguments - list_names, list_emp codes, list_salary_2020, hike%